<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <input type="text" class="form-control " placeholder="请输入商品名称" [formControl]="search">
    </div>
  </div>
</div>
<div  class="col-xs-4" *ngFor="let item of produces | searchFilter:'title':filterField">
  <div class="thumbnail">
    <img [src]="item?.imgUrl" alt="">
    <div class="caption">
      <h4 class="pull-right" style="color: red">{{item?.price}}元</h4>
      <h4><a routerLink="/produceDetail/{{item.id}}">{{item?.title}}</a></h4>
      <p>{{item?.desc}}</p>
    </div>
    <div>
      <app-stars [stars]="item.rating"></app-stars>
    </div>
  </div>
</div>


