<div class="thumbnail" id="produce_detail">
  <img src="http://placeHold.it/820x230" alt="">

  <div >
    <h4 class="pull-right" style="color: red">{{result.price}}元</h4>
    <h4>{{result.title}}</h4>
    <p>{{result.desc}}</p>
  </div>


  <div>
    <p class="pull-right">{{commentaries.length}}人</p>
    <p>
      <app-stars [stars]="result.rating"></app-stars>
    </p>
  </div>
  <div class="well">
    <button class="btn btn-success" (click)="flag=!flag">{{flag?'关闭评论':'发表评论'}}</button>
    <div [hidden]="!flag">
      <div>
        <app-stars [(stars)]="starsDefault" [readOnly]="true"></app-stars>

      </div>
      <div>
        <textarea [(ngModel)]="newComment" id=""></textarea>
      </div>
      <div>
        <button class="btn" (click)="addSubmit()">提交</button>
      </div>
    </div>

    <div class="row" *ngFor="let item of commentaries">
      <hr>
      <div class="col-xs-12">
        <app-stars [stars]="item.rating"></app-stars>
        <span>{{item.username}}</span>
        <span class="pull-right">{{item.date | date:"yyyy-hh-ss"}}</span>
        <p></p>
        <p>{{item.desc}}</p>
      </div>
    </div>
  </div>
</div>
