<div class="thumbnail" id="produce_detail">
  <img src="http://placeHold.it/820x230" alt="">

  <div >
    <h4 class="pull-right" style="color: red">{{result.price}}元</h4>
    <h4>{{result.title}}</h4>
    <p>{{result.desc}}</p>
  </div>


  <div>
    <p class="pull-right">1</p>
    <p>
      <app-stars [stars]="result.rating"></app-stars>
    </p>
  </div>
  <div class="well">
    <button class="btn btn-success" (click)="flag=!flag">{{flag?'关闭评论':'发表评论'}}</button>
    <div [hidden]="!flag">
      <div>
        <app-stars></app-stars>

      </div>
      <div>
        <textarea></textarea>
      </div>
      <div>
        <button class="btn">提交</button>
      </div>
    </div>

    <div class="row">
      <hr>
      <div class="col-xs-12">
        <app-stars></app-stars>
        <span>user</span>
        <span class="pull-right">xxx</span>
        <p></p>
        <p>xxx</p>
      </div>

    </div>
  </div>
</div>
