<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li ></li>
    <li ></li>
    <li ></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="../../assets/img/3e4d4f52829c30b1bcf4163abe8e9a2b.jpg" alt="" height="300px">
    </div>
    <div class="item ">
      <img class="slide-image" src="../../assets/img/6b51e341f98e24ae2ea9acc82d08ea3b.jpg" alt="" height="300px">
    </div>
    <div class="item ">
      <img class="slide-image" src="../../assets/img/aa861d9c4a155ceafa8abc1fd6cd1546.jpg" alt="" height="300px">
    </div>
    <div class="item ">
      <img class="slide-image" src="../../assets/img/eed5a5a74e71f66e7860ae4d9ff5b300.jpg" alt="" height="300px">
    </div>
  </div>
  <a  class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a  class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
